<div class="center">
  <div class="card" style="width: 18rem;">
    <img src="{{product?.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product?.title}}</h5>
      <p class="card-text">{{product?.description}}</p>
      <h6 [ngStyle]="{'color': color}">Price: {{product?.price | currency: 'Q'}}</h6>
      <button type="button" class="btn btn-success" routerLink="/products">Regresar</button>
    </div>
  </div>
</div>

<ng-container *ngIf="loading">Cargando informacion.....</ng-container> <!--muestra los elementos si el loading es true-->
