<h1>Productos de Limpieza</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td [ngClass]="{'red-class': product.price > 10}">{{product.price | currency: 'Q'}}</td>
      <td>{{product.descripcion}}</td>
      <button type="button" class="btn btn-success" [routerLink]="['/products', product.id]">Success</button>
    </tr>
  </tbody>
</table>
